body {
    /*agregando degradado de color al fondo de la pagina*/
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:black;
  }

  h1,h2,h3,h4,h5,h6 {
    color:rgb(1, 2, 59);
  }

  h1{
    font-size: 45px;
  }
  
  b {
      font-size: 20px;
  }

.hipervinculos{
  font-size: 25px;
}