style.css
*{
    margin: 0%;
    padding: 0%;
    font-size: 100%;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    
    width: 95%;
    height: auto;
    max-width: 1200px;
    max-height:800px;
    margin:0%;
    padding: 1% 0%;
    border-radius: 1rem;
}

/*Modificacion Header */
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius:2rem 1rem 0rem 0rem;
    background: black;
    height: 10%;
    margin: 0rem;
    font-size: 110%;
    font-family: 'Lobster', cursive;
}

#bola{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    padding-top:1% ;
}

.pokebolaHeader{
    width: 90%;
    height: auto;
    padding: 7%;
    box-sizing: border-box;
}

#bola a{
    width: 70%;
    height: auto;
    padding: 5%;
    text-decoration: none;
    font-size: 100%;
}

#poke{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
}

#poke a{
    width: auto;
}

.degradado{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 200%;
    font-weight: normal;
    background: linear-gradient(red, yellow);
    color: transparent;
    -webkit-background-clip: text; 
    font-family: 'Permanent Marker', cursive;
}

/*Modificacion Main */
main{
    display: flex;
    justify-content: center;
    height: 58%;
    background: linear-gradient(black, red,black);
    margin: 0rem;
    box-sizing: border-box;
}

section{
    height: 100%;
    width: 100%;
    padding: 0%;
    background:transparent;
    float: left;
    box-sizing: border-box;
}

.pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    border-radius: 1rem;
    float: left;
    margin-right:0.5%;
    box-sizing: border-box;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 7%;
    border-radius: 0.5rem;
    margin: 0.5%;
}

.fuego{
    width:auto ;
    height: 120%;
    padding: 0rem 0.3rem 0.1rem;
}

.pokemon h2{
    font-size: 3rem;
    font-weight: normal;
    background: linear-gradient(yellow,red 1%,yellow);
    color: transparent;
    /*Para que el background se limite al espacio del texto*/
    -webkit-background-clip: text;
}

.charizard{
    width: 70%;
    height: auto;
    padding: 2%;
}

.descripcionPokemon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 49%;
    border-radius: 1rem;
    float: right;
    margin-left: 0.5%;
    box-sizing: border-box;
}

.descripcionPokemon div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin:0%;
    background-color:rgb(112, 111, 111);
    opacity:0.7;;
    border-radius: 1rem;
    padding: 0.5%;
    box-sizing: border-box;
}

table{
    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 2.3rem;
    background: black;
    color: transparent;
    /*Para que el background se limite al espacio del texto*/
    -webkit-background-clip: text;
    box-sizing: border-box;
    text-shadow: 1px 2px #999;
}

/*Modificacion Footer */
footer{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    padding: 0.5%;
    height: 30%;
    background: black;
    border-radius:0rem 0rem 1rem 1rem;
    margin: 0em;
    background: bl;
}

#otros{
    display: flex;
    align-items: center;
    width: 48%;
    height: 100%;
}

#otros a{
    display: flex;
    width: 100%;
    justify-content: center;
}

.listaPokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 90%;
    padding: 0.3rem;
}

.listaPokemon div{
    display: flex;
    align-items: center;
    margin: 0.23%;
}

button{
    width: 7em;
    height: 7rem;
    padding: 0rem;
    border-width: 0rem;
    border-radius: 1rem;
    margin:0.5rem;
    background: linear-gradient(50deg,yellow, red, yellow);    
}


button :hover{
    border-width: 0em;
    width: 7.1rem;
    height: 7.1rem;
    background: linear-gradient(50deg,red, yellow, red);    
    border-radius: 1em;
}

.pokemones{

    width: 80%;
    height: auto;
    padding:2% ;
}

/*MEDIA QUERIES*/

/* Para 960px */  
@media only screen and (max-width: 980px) and (min-width: 841px) {  
    table{
        font-size: 2rem;
    }
}  
  
/* Para 800px */  
@media only screen and (max-width: 840px) and (min-width: 646px) {  
    table{
        font-size: 1.5rem;
    }
}  
  
/* Para 600px */  
@media only screen and (max-width: 645px) and (min-width: 501px) {  
    table{
        font-size: 1.2rem;
    }
}  
  

@media only screen and (max-width: 500px) and (min-width: 320px)  {  
    .container{
        max-height: 700px;
    }

    table{
        font-size: 1rem;
    }


    header{
        display: flex;
        justify-content: center;
        background-color: black;
    }

    section{
        padding-top: 8%;
        box-sizing: border-box;
    }

    .pokemon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }

    .titulo{
    width: 80%;
    height: 12%;
    border-radius: 0.5rem;
    
    }

    .pokemon h2{
        font-size: 2rem;
    }

    .charizard{
        width: 70%;
        height: auto;
        padding: 8% 0% 0% 0%;
        box-sizing: border-box;
    }

    .descripcionPokemon{
        display: flex;
        justify-content: center;
        height: auto;
        width: 100%;
        padding-top: 5%;
        box-sizing: border-box;  
    }

    table{
        font-size: 1.3rem;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    #otros{
        width: 100%;
        height: auto;
    }

    .listaPokemon{
        display: flex;
        flex-direction: column; 
    }

    .listaPokemon div{
        display: flex;
        justify-content: space-around;
        height: auto;
        width: 80%;   
    }

    button{
        width: 25%;
        height: 100%;
        padding: 0rem;
        border-width: 0rem;
        border-radius: 1rem;
        margin:0rem;
        background: linear-gradient(50deg,yellow, red, yellow);    
    }
    
    
    button :hover{
        border-width: 0em;
        width: 4rem;
        height: 4rem;
        background: linear-gradient(50deg,red, yellow, red);    
        border-radius: 1rem;
    }
    
    .pokemones{
    
        width: 70%;
        height: auto;
        padding:2% ;
    }
} 
